<div{{ attributes }} aria-hidden="true">
  {% for item in items %}
    <div{{ item.attributes }}>
      {{ item.content }}
    </div>
  {% endfor %}
  <a href="#" class="offcanvas-close" aria-label="Dismiss offcanvas" data-close><span aria-hidden="true">&times;</span></a>
</div>
