////////////////////////////////////////////////////////////////////////////////
// VARIABLES
// -----------------------------------------------------------------------------

// Offcanvas - iphone5 max size
$offcanvas-size: rem-calc(320);

//colors
$black: #222;
$white: #f7f7f7;

$foundation-palette: (
  primary: #2199e8,
  secondary: #777,
  success: #5da423,
  warning: #e3b000,
  alert: #c60f13,
);
