////////////////////////////////////////////////////////////////////////////////
// VARIABLES
// -----------------------------------------------------------------------------

// Offcanvas - iphone5 max size
$offcanvas-size: rem-calc(320);

//colors
$black: #222;
$white: #f7f7f7;
