////////////////////////////////////////////////////////////////////////////////
/// Effect 10: Scale up
////////////////////////////////////////////////////////////////////////////////

.oc-effect-10.oc-wrapper {
  @include perspective(1500px);

  &.oc-direction-left {
    @include perspective-origin(0% 50%);
  }

  &.oc-direction-right {
  @include perspective-origin(100% 50%);
  }
}

.oc-effect-10.oc-open {

  &.oc-direction-left .oc-push {
    @include transform(translate3d(300px, 0, 0));
  }

  &.oc-direction-right .oc-push {
    @include transform(translate3d(-300px, 0, 0));
  }
}

.oc-effect-10.oc-block {
  z-index: 1;
  opacity: 1;

  &.oc-direction-left {
    @include transform(translate3d(0, 0, -300px));
  }

  &.oc-direction-right {
    @include transform(translate3d(0, 0, -300px));
  }
}

.oc-effect-10.oc-open .oc-effect-10.active {
  visibility: visible;
  @include transition(transform 0.5s);
  @include transform(translate3d(0, 0, 0));
}

////////////////////////////////////////////////////////////////////////////////
/// Megamenu
////////////////////////////////////////////////////////////////////////////////

.oc-effect-10.oc-open.mp-level-2 {

  &.oc-direction-left .oc-push {
    @include transform(translate3d(340px, 0, 0));
  }

  &.oc-direction-right .oc-push {
    @include transform(translate3d(-340px, 0, 0));
  }
}

.oc-effect-10.oc-open.mp-level-3 {

  &.oc-direction-left .oc-push {
    @include transform(translate3d(380px, 0, 0));
  }

  &.oc-direction-right .oc-push {
    @include transform(translate3d(-380px, 0, 0));
  }
}

.oc-effect-10.oc-open.mp-level-2 .oc-effect-10.active{
  @include transform(translate3d(40px, 0, 0));
}

.oc-effect-10.oc-open.mp-level-3 .oc-effect-10.active{
  @include transform(translate3d(80px, 0, 0));
}
