////////////////////////////////////////////////////////////////////////////////
/// Effect 2: Reveal
////////////////////////////////////////////////////////////////////////////////

.oc-effect-2.oc-open {

  &.oc-direction-left .oc-push{
    @include transform(translate3d(300px, 0, 0));
  }

  &.oc-direction-right .oc-push{
    @include transform(translate3d(-300px, 0, 0));
  }
}

.oc-effect-2.oc-block {
  z-index: 1;

  &:after{
    display:none;
  }
}

.oc-effect-2.oc-direction-left.oc-open .oc-effect-2.active,
.oc-effect-2.oc-direction-right.oc-open .oc-effect-2.active {
  visibility: visible;
  @include transition(transform 0.5s);
}

////////////////////////////////////////////////////////////////////////////////
/// Megamenu
////////////////////////////////////////////////////////////////////////////////

.oc-effect-2.oc-open.mp-level-2 {

  &.oc-direction-left .oc-push{
    @include transform(translate3d(340px, 0, 0));
  }

  &.oc-direction-right .oc-push{
    @include transform(translate3d(-340px, 0, 0));
  }
}

.oc-effect-2.oc-open.mp-level-3 {

  &.oc-direction-left .oc-push{
    @include transform(translate3d(380px, 0, 0));
  }

  &.oc-direction-right .oc-push{
    @include transform(translate3d(-380px, 0, 0));
  }
}

.oc-effect-2.oc-open.mp-level-2 .oc-effect-2.active{
  @include transform(translate3d(40px, 0, 0));
}

.oc-effect-2.oc-open.mp-level-3 .oc-effect-2.active{
  @include transform(translate3d(80px, 0, 0));
}
