////////////////////////////////////////////////////////////////////////////////
/// Effect 1: Slide in on top
////////////////////////////////////////////////////////////////////////////////

.oc-effect-1.oc-block {
  visibility: visible;

  &.oc-direction-left {
    @include transform(translate3d(-100%, 0, 0));
  }

  &.oc-direction-right {
    @include transform(translate3d(100%, 0, 0));
  }

  &:after{
    display:none;
  }
}

.oc-effect-1.oc-open .oc-effect-1.active {
  visibility: visible;
  @include transform(translate3d(0, 0, 0));
}

////////////////////////////////////////////////////////////////////////////////
/// Megamenu
////////////////////////////////////////////////////////////////////////////////

.oc-effect-1.oc-open.mp-level-2 .oc-effect-1.active{
  @include transform(translate3d(40px, 0, 0));
}

.oc-effect-1.oc-open.mp-level-3 .oc-effect-1.active{
  @include transform(translate3d(80px, 0, 0));
}
