////////////////////////////////////////////////////////////////////////////////
/// Effect 9: Scale down pusher
////////////////////////////////////////////////////////////////////////////////

.oc-effect-9.oc-wrapper {
  @include perspective(1500px);
}

.oc-effect-9 .oc-push {
  @include transform-style(preserve-3d);
}

.oc-effect-9.oc-open .oc-push {
  @include transform(translate3d(0, 0, -300px));
}

.oc-effect-9.oc-block {
  opacity: 1;

  &.oc-direction-left {
    @include transform(translate3d(-100%, 0, 0));
  }

  &.oc-direction-right {
    @include transform(translate3d(100%, 0, 0));
  }

  &:after{
    display:none;
  }
}

.oc-effect-9.oc-open .oc-effect-9.active {
  visibility: visible;
  @include transition(transform 0.5s);
  @include transform(translate3d(0, 0, 0));
}

////////////////////////////////////////////////////////////////////////////////
/// Megamenu
////////////////////////////////////////////////////////////////////////////////

.oc-effect-9.oc-open.mp-level-2 .oc-effect-9.active{
    @include transform(translate3d(40px, 0, 0));
}

.oc-effect-9.oc-open.mp-level-3 .oc-effect-9.active{
    @include transform(translate3d(80px, 0, 0));
}
