////////////////////////////////////////////////////////////////////////////////
/// Effect 14: Delayed 3D rotate
////////////////////////////////////////////////////////////////////////////////

.oc-effect-14.oc-wrapper {
  @include perspective(1500px);

  &.oc-direction-left {
    @include perspective-origin(0% 50%);
  }

  &.oc-direction-right {
    @include perspective-origin(100% 50%);
  }
}

.oc-effect-14 .oc-push {
  @include transform-style(preserve-3d);
}

.oc-effect-14.oc-open {

  &.oc-direction-left .oc-push {
    @include transform(translate3d(300px, 0, 0));
  }

  &.oc-direction-right .oc-push {
    @include transform(translate3d(-300px, 0, 0));
  }
}

.oc-effect-14.oc-block {
  @include transform-style(preserve-3d);

  &.oc-direction-left {
    @include transform-origin(0% 50%);
    @include transform(translate3d(-100%, 0, 0) rotateY(90deg));
  }

  &.oc-direction-right {
    @include transform-origin(100% 50%);
    @include transform(translate3d(100%, 0, 0) rotateY(-90deg));
  }
}

.oc-effect-14.oc-open .oc-effect-14.active {
  visibility: visible;
  @include transition-delay(0.1s);
  @include transition-timing-function(ease-in-out);
  @include transition-property(transform);

  &.oc-direction-left {
    @include transform(translate3d(-100%, 0, 0) rotateY(0deg));
  }

  &.oc-direction-right {
    @include transform(translate3d(100%, 0, 0) rotateY(0deg));
  }
}

////////////////////////////////////////////////////////////////////////////////
/// Megamenu
////////////////////////////////////////////////////////////////////////////////

.oc-effect-14.oc-open.mp-level-2 {

  &.oc-direction-left .oc-push {
    @include transform(translate3d(340px, 0, 0));
  }

  &.oc-direction-right .oc-push {
    @include transform(translate3d(-340px, 0, 0));
  }
}

.oc-effect-13.oc-open.mp-level-3 {

  &.oc-direction-left .oc-push {
    @include transform(translate3d(380px, 0, 0));
  }

  &.oc-direction-right .oc-push {
    @include transform(translate3d(-380px, 0, 0));
  }
}
