/**
 * @file
 * Stylesheet for the Contextual module.
 */

/**
 * Contextual links regions.
 */
.contextual-links-region {
  outline: none;
  position: relative;

  &.contextual-links-region-active {
    outline: $warning-color dashed 2px;
  }
}

/**
 * Contextual links.
 */
div.contextual-links-wrapper {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 999;
}
html.js div.contextual-links-wrapper {
  display: block;
}

a.contextual-links-trigger {
  display:none;
  border: 1px solid transparent;
  background: rgba(#000, .5);
  color:#fff !important;
  text-indent: 0;
  height: rem-calc(25);
  width: rem-calc(25);
  padding:0;
  margin: 0;
  outline: none;
  overflow: hidden;
  font-size:rem-calc(18);
  text-align: center;
  border-radius: $global-radius;
  box-shadow: 0 1px 0 rgba(#000, .7);
  border:none;
  @include fa-before(cog, 0);

  &:before{
    display:block;
    line-height:rem-calc(25);
    text-shadow: 0 1px rgba(#000, .4);
  }
}

div.contextual-links-active{

  a.contextual-links-trigger{
    background: rgba(#000, .5);
    border:none;
    border-radius: $global-radius $global-radius 0 0;
    box-shadow:none;
  }
}

div.contextual-links-wrapper{

  ul.contextual-links {
    display:none;
    background: rgba(#000, .5);
    margin: 0;
    padding: 0.25em 0;
    position: absolute;
    right: 0;
    text-align: left;
    top: rem-calc(25);
    white-space: nowrap;
    border-radius: $global-radius 0 $global-radius $global-radius;
    box-shadow: 0 1px 0 rgba(#000, .7);
    border:none;

    li{
      line-height: 100%;
      list-style: none;
      list-style-image: none;
      margin: 0;
      padding: 0;
    }

    a{
      color: #E6E6E6 !important;
      font-size:rem-calc(13);
      display: block;
      margin: 0;
      padding: rem-calc(2 8);
      text-shadow: 0 1px rgba(#000, .4);
      @include transition(color 300ms);
      @include fa-before(caret-right);

      &:hover{
        color: #fff !important;
      }
    }
  }

  a{
    text-decoration: none;
  }
}

a.contextual-links-trigger.contextual-links-trigger-active,
div.contextual-links-active a.contextual-links-trigger,
div.contextual-links-active ul.contextual-links {
  display:block;
}
