/**
 * @file
 * Core styling for Fett.
 */

/**
 * Navigation
 */
#main-nav,
#main-nav-oc,
#secondary-nav{
  ul{
    margin:0;
    padding:0;
  }

  li{
    margin:0;
    padding:0;
    list-style-type: none;
  }
}

#main-nav,
#secondary-nav{
  li{
    display:inline-block;
  }
}

/**
 * Tabs
 */
#tabs{
  .button{
    margin-bottom:0;
  }
}

/**
 * Easy Admin
 */
body.easy-admin-menu{
  margin:0;
  padding-left:90px;
}

/**
 * Status Messages
 */
.alert.status{
  @include fett-alert($info-color, info-circle);

  .krumo-root{
    color:darken($info-color, 50%);
    text-shadow:none;
    border-color: darken($info-color, 30%);
    div.krumo-element{
      background-color: lighten($info-color, 10%);
    }
    div.krumo-expand{
      background-color: $info-color;
    }
    li li li{
      padding-left:10px;
    }
    a{
      color:darken($info-color, 60%);
    }
  }
}
.alert.warning{
  @include fett-alert($warning-color, exclamation-circle);
}
.alert.error{
  @include fett-alert($alert-color, minus-circle);
}

/**
 * Dates and Dates Module
 */
.date-display-range{
  display:inline;
}

/**
 * Container inline
 */
.container-inline{

  > div{
    display:inline-block;
  }
}

/**
 * Various basic styles
 */
table{
  width:100%;
}

/**
 * Token Module
 */
.treeTable{

  tr{

    td .expander{
      cursor: pointer;
      padding: 0;
      zoom: 1; /* IE7 Hack */
    }

    &.collapsed td .expander{
      @include fa-before(caret-right);
    }

    &.expanded td .expander{
      @include fa-before(caret-down);
    }
  }
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

/**
 * The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

/**
 * Ajax loaders.
 */

 // h3{
 //  &:before{
 //    @include fa-pulse(spinner);
 //  }
 // }

.ajax-progress-throbber{
  position:absolute;
  z-index:3000;
  background:rgba(0,0,0,.5);
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  color:transparent;

  .throbber{
    background:none;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:rem-calc(-20);
    margin-top:rem-calc(-20);
  }

  .throbber:before {
    @include fa-pulse(spinner);
    font-size:rem-calc(40);
    width: rem-calc(40);
    line-height: rem-calc(40);
    color:#fff;
  }
}

////////////////////////////////////////////////////////////////////////////////
/// Utility Classes
////////////////////////////////////////////////////////////////////////////////

.middle-large-up{
  @media #{$large-up} {
    @include middle();
  }
}

.middle-large{
  @media #{$large-only} {
    @include middle();
  }
}

.middle-medium-up{
  @media #{$medium-up} {
    @include middle();
  }
}

.middle-medium{
  @media #{$medium-only} {
    @include middle();
  }
}

.middle-small-up{
  @media #{$small-up} {
    @include middle();
  }
}

.middle-small{
  @media #{$small-only} {
    @include middle();
  }
}

html.flexbox{
  @media #{$medium-up} {
    .row-middle{
      @include display(flex);
      @include align-items(center);
    }
  }
}
