#header{
  opacity:1;
  @include transition(opacity 300ms);

  &.sticky{
    opacity:0;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:2000;
    @include transition(transform 0ms, opacity 0ms);
    @include transform(translate3d(0,-100%,0));
  }

  &.sticky-show{
    opacity:1;
    @include transition(transform 300ms, opacity 0ms);
    @include transform(translate3d(0,0,0));
  }

  &.sticky-hide{
    opacity:0;
    @include transition(transform 300ms, opacity 0ms 300ms);
  }
}

#sticky-placeholder{
  display:none;
}

/**
 * Easy Admin
 */
body.easy-admin-menu{

  #header.sticky{
    left:90px;
  }
}

// #header{
//   opacity:1;
//   @include transition(opacity 3000ms);

//   &.sticky{
//     position: fixed;
//     top:0;
//     left:0;
//     right:0;
//     z-index:2000;
//     opacity:1;
//     @include transform(translate3d(0,-100%,0));
//   }

//   &.sticky-animate-in{
//     opacity:1;
//     @include transition(transform 300ms, opacity 0ms);
//     @include transform(translate3d(0,0,0));
//   }

//   &.sticky-animate-out{
//     opacity:0;
//     @include transition(transform 300ms, opacity 0ms 300ms);
//   }
// }

// /**
//  * Easy Admin
//  */
// body.easy-admin-menu{

//   #header.sticky{
//     left:90px;
//   }
// }
