#header{

  &.sticky{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:2000;
    @include transform(translate3d(0,-100%,0));
  }

  &.sticky-animate{
    @include transition(transform 300ms);
    @include transform(translate3d(0,0,0));
  }

  &.sticky-animate-in{
    @include transition(transform 300ms);
    @include transform(translate3d(0,0,0));
  }

  &.sticky-animate-out{
    @include transition(transform 300ms);
  }
}

/**
 * Easy Admin
 */
body.easy-admin-menu{

  #header.sticky{
    left:90px;
  }
}


@include keyframes(fettFixedIn) {
  from {
    @include transform(translate3d(0,-100%,0));
  }
  to {
    @include transform(translate3d(0,0,0));
  }
}


@include keyframes(fettFixedOut) {
  from {
    @include transform(translate3d(0,0,0));
  }
  to {
    @include transform(translate3d(0,-100%,0));
  }
}
