////////////////////////////////////////////////////////////////////////////////
/// Fett Forms (a toolkit)
////////////////////////////////////////////////////////////////////////////////

$fett-primary-color: #9a9a9a !default;
$fett-container-bg: #F5F5F5 !default;
$form-spacing: rem-calc(16) !default;
$global-radius: 3px !default;

.fett-form{

  &.indent {

    @media #{$medium-up} {
      margin:rem-calc(0 50);
    }

    @media #{$large-up} {
      margin:rem-calc(0 200);
    }
  }

  h3{
    color:#5c5c5c;
    font-weight:400;
    text-transform: uppercase;
    font-size:rem-calc(30);
    text-align: center;
    margin:$form-spacing 0;
  }

  h4{
    color:#fff;
    background: lighten($fett-primary-color, 10%);
    font-weight:400;
    text-transform: uppercase;
    font-size:rem-calc(18);
    text-align: center;
    margin-top:rem-calc(20);
    margin-bottom: $form-spacing;

    &.flush{
      margin-top:rem-calc(-15);
    }
  }

  h5{
    color:$fett-primary-color;
    font-weight:500;
    font-size:rem-calc(16);
    text-align: center;
    margin:rem-calc(20 0);

    &.flush{
      margin-top:rem-calc(-15);
    }
  }

  .container-inline{
    @include display(flex);

    > div{
      @include flex(auto);

      &:first-child{
        padding-right: $form-spacing;
      }

      &:last-child{
        padding-left: $form-spacing;
      }
    }
  }

  .field-multiple-table{

    td{
      padding: $form-spacing;
    }

    .field-multiple-drag{
      display:none;
    }

    input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{
      margin:0;
    }
  }

  .no-margin{
    margin-bottom: $form-spacing;

    div,
    table,
    button{
      margin:0;
    }
  }

  .grippie{
    display:none;
  }

  .form-text,
  .form-select {
    font-size:rem-calc(17);
    line-height:rem-calc(50);
    height:rem-calc(50);
    // background: url(http://subtlepatterns.com/patterns/squared_metal.png);
    // // background-size: cover;
    // background-attachment: fixed;
  }

  .form-textarea {
    font-size: rem-calc(17);
  }

  .form-item .form-item{
    margin:0;
  }

  fieldset{
    legend{
      text-transform: uppercase;
      font-size:rem-calc(22);
      text-align: center;
      display:block;
      color:#7f7f7f;
      font-weight:200;
    }

    .form-submit{
      width:auto;
      margin:rem-calc(0 10 0 0);
      display:inline-block;
    }
  }

  .no-fieldset fieldset{
    border:none;
    margin:0;
    padding:0;

    legend{
      display:none;
    }
  }

  .inset{
    padding: $form-spacing;
    border:1px solid darken($fett-container-bg, 10%);
    background: $fett-container-bg;
    position: relative;
  }

  table{
    width:100%;

    td{
      white-space: nowrap;
    }
  }

  .tabledrag-toggle-weight{
    display:none;
  }

  table.ief-entity-table{
    .ief-tabledrag-handle,
    .ief-tabledrag-header,
    > thead{
      display:none;
    }

    .inline-entity-form-asset-title{
      width:100%;
    }
  }

  label{
    color:#7f7f7f;
    font-weight:700;
    letter-spacing:.5px;
    font-size:rem-calc(14);

    &.option{
      text-transform: none;
    }
  }

  .fett-container,
  .row.collapse.fett-container{
    border:1px solid darken($fett-container-bg, 10%);
    background:$fett-container-bg;
    padding:$form-spacing $form-spacing/2 0;
    margin-bottom:$form-spacing;

    .columns:first-child h4{
      margin-top:0;
    }
  }

  .fett-label{
    label:not(.option){
      font-size:rem-calc(22);
      text-align: center;
      display:block;
    }
  }

  .fett-radios,
  .fett-checkboxes{
    // text-align: center;
    padding-bottom: $form-spacing;

    &.radius{
      .radio,
      .checkbox{

        .option{
          border-radius: $global-radius;
        }
      }
    }

    .radio,
    .checkbox{
      display:inline-block;
      margin:rem-calc(0 0 5);
    }

    .form-radio,
    .form-checkbox{
      display:none;
    }

    .option {
      text-transform: none;
      margin:0;
      display:block;
      background:$fett-primary-color;
      padding:rem-calc(10 15);
      color:#fff;
      @include transition (background 0.3s);

      &:hover {
        background: darken($fett-primary-color, 10%);
      }

      @media #{$small-only} {
        width: 250px;
      }
    }

    .active{

      .option{
        background:$primary-color;
      }
    }
  }

  .form-submit{
    display:block;
    margin:0 auto rem-calc(50);
    width:100%;

    @media #{$medium-up} {
      width: 70%;
    }

    @media #{$large-up} {
      width: 50%;
    }

    @media #{$xlarge-up} {
      width: 25%;
    }
  }

  .field-add-more-submit{
    margin:0;
    padding:rem-calc(5 10);
    font-size:rem-calc(14);
    text-transform: uppercase;
    width:100% !important;
  }
}
