/**
 * @file
 * Mega menu styling for Fett.
 */

.megamenu{

  ul{
    padding:0;
    margin:0;
  }

  li{
    padding:0;
    margin:0;
    list-style-type: none;
  }

  a{
    display:block;
  }
}

.oc-block{
  background: $mp-bg;
}

/**
 * Only affects the dropdown nav when it is in the header region.
 */

#main-nav{

  .mm-1{

    > li{
      position: relative;
      display:inline-block;
      z-index:100;

      > a{
        padding:rem-calc(5) ($column-gutter/2);
      }

      &:hover{

        ul.mm-2{
          visibility: visible;
        }
      }
    }
  }

  .mm-2{
    position:absolute;
    top: 100%;
    left:0;
    visibility: hidden;
    padding:rem-calc(5);

    > li{

      > a{
        padding:rem-calc(2 0);
        font-size:rem-calc(14);
        line-height:rem-calc(16);
      }
    }
  }
}

/**
 * Only affects the dropdown nav when it is in the offcanvas.
 */

#main-nav-offcanvas{

  // ul.mm-1{

  //   > li{

  //     > a{
  //       padding:rem-calc(5) ($column-gutter/2);
  //     }

  //     &:hover{

  //       > a{
  //         background:#E6E6E6;
  //       }

  //       ul.mm-2{
  //         display:block;
  //       }
  //     }
  //   }
  // }

  // ul.mm-2{
  //   overflow:hidden;
  //   display:none;
  //   background:#E6E6E6;

  //   > li{

  //     > a{
  //       font-size:rem-calc(14);
  //       padding:rem-calc(5) ($column-gutter/2);
  //     }
  //   }
  // }
}


////////////////////////////////////////////////////////////////////////////////
/// Multi-level push menu
////////////////////////////////////////////////////////////////////////////////

.mp-level {
  position: absolute;
  top: 0;
  left: 0;
  z-index:5;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  @include transform(translate3d(-100%, 0, 0));
}

.oc-direction-right{

  .mp-level{
    @include transform(translate3d(100%, 0, 0));
  }
}

/* overlays for pusher and for level that gets covered */
.mp-push:after,
.mp-level:after,
.mp-level:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  content: '';
  opacity: 0;
}

.mp-push:after,
.mp-level:after {
  background: rgba(#000,0.3);
  @include transition(opacity 300ms, width 0.1s 300ms, height 0.1s 300ms, transform 500ms);
}

.mp-level:after {
  z-index: -1;
}

.mp-push.mp-pushed:after,
.mp-level.mp-level-overlay:after {
  width: 100%;
  height: 100%;
  opacity: 1;
  @include transition(opacity 300ms);
}

.mp-level.mp-level-overlay {
  cursor: pointer;
}

.mp-level.mp-level-overlay.mp-level:before {
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 1;
}

.mp-push,
.mp-level {
  @include transition(all 500ms);
}

/* overlap */
.mp-overlap .mp-level.mp-level-open {
  background: $mp-bg;
  box-shadow: 1px 0 2px darken($mp-bg, 30%);
  @include transform(translate3d(-40px, 0, 0));
}

.oc-direction-right{

  .mp-overlap .mp-level.mp-level-open {
    @include transform(translate3d(40px, 0, 0));
    z-index:10;
  }
}

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
  box-shadow: none;
  @include transform(translate3d(0, 0, 0));
}

/* cover */
.mp-cover .mp-level.mp-level-open {
  @include transform(translate3d(0, 0, 0));
}

.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
  @include transform(translate3d(-100%, 0, 0));
}

.oc-direction-right{

  .mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
    @include transform(translate3d(100%, 0, 0));
  }
}

/* Menu styles */

.mp-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mp-menu h2,
.mp-back-icon {
  margin: 0;
  padding: rem-calc(25 15 25 25);
  color: $mp-link-color;
  text-shadow: 0 0 1px rgba(#000,0.1);
  font-weight: $mp-header-weight;
  font-size: $mp-header-size;
  line-height: $mp-header-size*1.3;
  opacity:1;
  @include transition(opacity 300ms);
}

.oc-direction-right{

  .mp-menu h2{
    padding-left:rem-calc(15);
  }
}

.mp-menu.mp-overlap .mp-back-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: rem-calc(25 8 25 10);
  opacity: 0;
  @include transition(opacity 300ms, transform 0.1s 300ms);
  @include transform(translateX(-100%));
  // @include fa(chevron-right);
  line-height: $mp-header-size*1.3;
  font-size: $mp-header-size;
}

.oc-direction-right{

  .mp-menu.mp-overlap .mp-back-icon {
    right: auto;
    left:0;
    @include transform(translateX(100%));
    // @include fa(chevron-left);
    line-height: $mp-header-size*1.3;
    font-size: $mp-header-size*.9;
  }
}

.mp-menu.mp-cover h2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1em;
}

.mp-overlap .mp-level.mp-level-overlay > h2{
  opacity:0;

  &:before {
    opacity: 1;
    @include transition(transform 300ms, opacity 300ms);
    @include transform(translateX(0));
  }
}

.mp-overlap .mp-level.mp-level-overlay > .mp-back-icon {
  opacity: 1;
  @include transition(transform 300ms, opacity 300ms);
  @include transform(translateX(0));
}

.mp-menu ul li{

  > a{
    display: block;
    position: relative;
    z-index:0;
    padding: rem-calc(15 15 15 25);
    outline: none;
    box-shadow: inset 0 1px $mp-shadow-color, inset 0 -1px $mp-shadow-color;
    margin-top:-1px;
    text-shadow: 0 0 1px rgba(#fff,0.1);
    font-size: $mp-link-size;
    line-height: $mp-link-size*1.5;
    color:$mp-link-color;
    opacity:1;
    vertical-align: middle;
    @include transition(background 300ms, opacity 300ms);

    &:hover{
      background:transparent;
    }

    i{
      font-size: $mp-link-size*1.4;
      margin: rem-calc(0 6 0 3);
      vertical-align: middle;
    }
  }

  &.mp-nest{

    &:before{
      position: absolute;
      left: 0;
      padding: rem-calc(10);
      z-index: -1;
      color: darken($mp-bg, 25%);
      line-height: $mp-link-size*2.2;
      @include fa(angle-left);
    }
  }
}

.oc-direction-right{

  .mp-menu ul li{

    > a{
      padding: rem-calc(15 25 15 15);

      i{
        margin-left:0;
      }
    }

    &.mp-nest{

      &:before{
        left:auto;
        right:0;
        line-height: $mp-link-size*2.2;
        @include fa(angle-right);
      }
    }
  }
}

.no-touch{

  .mp-menu ul li a.active-trail{
    background: rgba($mp-shadow-color,0.3);
    box-shadow: inset 0 1px darken($mp-shadow-color, 1%), inset 0 -1px darken($mp-shadow-color, 1%);
    z-index:1;
  }

  .mp-menu ul li a:hover,
  .mp-menu ul li a.active{
    background: rgba($mp-shadow-color,0.8);
    box-shadow: inset 0 1px darken($mp-shadow-color, 5%), inset 0 -1px darken($mp-shadow-color, 5%);
    z-index:1;
  }
}

// Links contained in a background menu.
.mp-menu .mp-level.mp-level-overlay > ul > li > a,
.mp-level.mp-level-overlay > ul > li:first-child > a {
  opacity:0;
  pointer-events:none;
}

.mp-back {
  display: block;
  background: rgba($mp-shadow-color,0.5);
  outline: none;
  color: $mp-link-color;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: $mp-back-size;
  line-height:rem-calc(16);
  padding: rem-calc(10 10 10 25);
  position: relative;
  box-shadow: inset 0 1px rgba(#000,0.1);
  @include transition(background 300ms);
  @include fa-after(caret-right);

  &:hover{
    color: $mp-link-color;
  }

  &:after{
    position: absolute;
    right: 10px;
    color: rgba(#000,0.3);
  }
}

.oc-direction-right{

  .mp-back{
    padding: rem-calc(10 10 10 15);
    @include fa-after(caret-left);

    &:after{
      position: absolute;
      right: 10px;
      color: rgba(#000,0.3);
    }
  }
}

.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back:after {
  background: transparent;
  box-shadow: none;
  color: transparent;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .mp-push,
.no-js .mp-push {
  padding-left: 300px;
}

.no-csstransforms3d .mp-menu .mp-level,
.no-js .mp-menu .mp-level {
  display: none;
}

.no-csstransforms3d .mp-menu > .mp-level,
.no-js .mp-menu > .mp-level {
  display: block;
}
