/**
 * Offcanvas Background
 *
 * This is the offcanvas background. It will show through on effects that use a
 * 3d transition.
 */
#page.oc-wrapper{
  /** ONLY BACKGROUND STYLING SHOULD BE PLACED HERE */
  background:#272727;
}

/**
 * Body Background
 *
 * Should be used for body background color. This supports the off-canvas
 * elements of Fett.
 */
.oc-content{
  /** ONLY BACKGROUND STYLING SHOULD BE PLACED HERE */
  background: $body-bg; // See _settings.scss file to change this variable.
}

html,
body,
.oc-wrapper,
.oc-push,
.mp-push,
.oc-content {
  height: 100%;
}

body{
  overflow:hidden;
}

.oc-link{
  display:inline-block;
  padding:rem-calc(10 0);
}

.oc-content {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.oc-content,
.oc-content-inner {
  position: relative;
}

.oc-wrapper {
  position: relative;
  overflow: hidden;
}

.oc-push,
.mp-push {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  @include transition(transform 0.5s);
}

.oc-push::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 0;
  @include transition(opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s);
}

.oc-open .oc-push::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  @include transition(opacity 0.5s);
}

.oc-block {
  position: absolute;
  top: 0;
  z-index: 100;
  visibility: hidden;
  width: 300px;
  height: 100%;
  background: #fff;
  @include transition(all 0.5s);

  .block{
    padding: ($column-gutter/2);
  }

  &.oc-direction-left {
    left:0;
  }

  &.oc-direction-right {
    right:0;
  }
}

.oc-block::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 1;
  @include transition(opacity 0.5s);
}

.oc-open .oc-block::after {
  width: 0;
  height: 0;
  opacity: 0;
  @include transition(opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s);
}

////////////////////////////////////////////////////////////////////////////////
/// Fallback example for browsers that don't support 3D transforms (and no JS fallback)
////////////////////////////////////////////////////////////////////////////////

.no-csstransforms3d .oc-push,
.no-js .oc-push {
  padding-left: 300px;
}
