
$fett-settings-bg-image: false !default;
$fett-settings-bg-lines: false !default;

@mixin fett-settings-bg($fett, $lines) {
  @if $fett != false {
    position: relative;
    display:block;
    border-radius:26px 26px 180px 180px;
    border:4px solid #D0D0D0;
    box-shadow: 0 25px #E7E7E7, 0 28px #D0D0D0;
    margin-bottom:40px;
    height:206px;
    background:#242426;
    overflow:hidden;

    canvas{
      display:block;
      border-radius:26px 26px 180px 180px;
      overflow:hidden;
      /* this fixes the overflow:hidden in Chrome */
      -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    }

    .bg{
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      border-radius:26px 26px 170px 170px;
      box-shadow: inset 100px 0px 2px rgba(#000, .25), inset -100px 0px 2px rgba(#fff, .05);
    }

    .shine{
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      border-radius:26px 26px 170px 170px;
      // box-shadow: inset 100px 0px 5px rgba(#fff, .05), inset -100px 0px 5px rgba(#000, .15);
      box-shadow: inset 0px -20px #101010, inset 0px -23px #3F3F3F;
    }

    .image{
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background: url($fett) no-repeat center top;
      border-radius:26px 26px 170px 170px;
      // box-shadow: inset 175px 0px rgba(#fff, .03), inset 120px 0px rgba(#000, .25), inset 0px -5px 5px rgba(#000, .2);
    }

    .lines{
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      border-radius:26px 26px 170px 170px;
      background: url($lines) no-repeat 90% bottom;
      box-shadow: inset 0px -12px 12px rgba(#000, .6);
    }
  }
}

// // $boolean: true !default;
// // $boolean: false !default;

#fett-settings-header{
  display:none;
  margin:-20px -20px 0;
  @include fett-settings-bg($fett-settings-bg-image, $fett-settings-bg-lines);
}

#fett-settings-wrapper{
  border-radius:32px;
  background:#F4F4F4;
  border:2px solid #F1F1F1;
  padding:30px;
  box-shadow: 0 5px #E7E7E7;
}

#fett-settings{

  h1{
    text-align: center;
    font-size:50px;
    font-weight:200;
    padding:20px 0;
    line-height:50px;
    margin:0;
    letter-spacing:-3px;
    text-shadow: 0 -1px 0 rgba(#000, .3);
    color:#BFBFBF;

    small{
      display:block;
      font-size:12px;
      line-height:12px;
      font-weight:700;
      padding-top:20px;
      letter-spacing:0px;
      color:#7F7F7F;
      text-shadow: 0 1px 0 #fff;
      margin-top:-10px;

      em{
        font-size:10px;
        font-style: normal;
        font-weight:500;
        text-transform: uppercase;
      }
    }
  }
}
