
// Variable list for all social button colors to be iterated over.
$social-list: (
  share-email       $share-email,
  share-print       $share-print,
  share-facebook    $share-facebook,
  share-tumblr      $share-tumblr,
  share-linkedin    $share-linkedin,
  share-twitter     $share-twitter,
  share-googleplus  $share-googleplus,
  share-reddit      $share-reddit,
  share-pinterest   $share-pinterest,
  share-pocket      $share-pocket,
  share-github      $share-github,
  share-instagram   $share-instagram
);


// The meat and potatoes
.share-buttons {
  box-sizing: border-box;
  height: 36px;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;

  // clearfix buttons for large-format
  &:after {
    clear: both;
  }

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  li {
    box-sizing: border-box;
    display:inline-block;
    height: 100%;
    line-height: 13px;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;

    // This generates individual button classes for each item in social list on line 39.
    @each $s-name in $social-list {

      &.#{nth($s-name, 1)} {
        a {
          background-color: nth($s-name, 2);

          &:hover {
            background-color: darken(nth($s-name, 2), 10%);
          }
        }
      }

    } // end @each directive // end @each directive

    a {
      background-color: #ccc;
      border-radius: $share-border-radius;
      box-sizing: border-box;
      display: block;
      font-size: $share-font-size;
      line-height: $share-font-size;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      padding: rem-calc(8 8);
      position: relative;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s ease-in-out;
      width: 100%;
      text-align: center;
      min-width:rem-calc(30);

      .share-icon {
        color:$share-txt;
      }

      .share-text {
        padding-left:rem-calc(2);
        color: $share-txt;
      }
    }
  }

  &.share-small{
    .share-text{
      display:none;
    }
  }
}
