/**
 * @file
 * Tooltip styling for Fett.
 */

@if $include-html-tooltip-classes {

  .fett-tooltip {
    background: $tooltip-bg;
    color: $tooltip-font-color;

    .tooltipster-content{
      padding: $tooltip-padding;
    }

    .tooltipster-content,
    p,
    li {
      font-family: $font-family-sans-serif;
      font-size: $tooltip-font-size !important;
      line-height: $tooltip-line-height;
    }

    &.radius{
      @include radius($tooltip-radius);
    }

    &.round {
      @include radius($tooltip-rounded);
    }

    ul{
      margin-bottom:0;
    }
  }

}
