/**
 * @file
 * Core variables for Fett.
 */

// a. Tooltip
// - - - - - - - - - - - - - - - - - - - - - - - - -

$include-html-tooltip-classes: true !default;
$tooltip-padding: rem-calc(8 10) !default;
$tooltip-bg: $oil !default;
$tooltip-font-size: rem-calc(13) !default;
$tooltip-font-weight: $font-weight-normal !default;
$tooltip-font-color: $white !default;
$tooltip-line-height: 1.3 !default;
$tooltip-radius: $global-radius !default;
$tooltip-rounded: $global-rounded !default;
$tooltip-pip-size: 5px !default;
$tooltip-max-width: 300px !default;


// b. Megamenu Multi-Level Push
// - - - - - - - - - - - - - - - - - - - - - - - - -

$mp-bg: $primary-color !default;
$mp-shadow-color: darken($mp-bg, 13%) !default;
$mp-link-color: #fff !default;
$mp-link-size: rem-calc(16) !default;
$mp-header-color: darken($mp-bg, 28%) !default;
$mp-header-size: rem-calc(28) !default;
$mp-header-weight: 300 !default;
$mp-back-size: rem-calc(12) !default;


// c. Offcanvas
// - - - - - - - - - - - - - - - - - - - - - - - - -

$oc-window-bg: #272727 !default;
$oc-bg: $body-bg !default;


// d. Share
// - - - - - - - - - - - - - - - - - - - - - - - - -

$share-txt: #fff !default;
$share-email: #0a88ff !default;
$share-print: #749FC4 !default;
$share-facebook: #306199 !default;
$share-tumblr: #32506d !default;
$share-linkedin: #007bb6 !default;
$share-twitter: #26c4f1 !default;
$share-googleplus: #e93f2e !default;
$share-reddit: #8bbbe3 !default;
$share-pinterest: #b81621 !default;
$share-pocket: #ed4054 !default;
$share-github: #444 !default;
$share-instagram: #517fa4 !default;
$share-border-radius: $global-radius !default;
$share-font-size: rem-calc(13) !default;
