///////////////////////////
// Overlay Menu
///////////////////////////

#main-menu{
  display:none;

  @media #{$medium-up} {
    display: block;
  }
}

#mobile-menu{
  @media #{$medium-up} {
    display: none;
  }
}

.l-overlay-close {
  background:none;
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  color: transparent;
  z-index: 100;
  padding: 0;
  color:#fff;

  &:before{
    font-family: "FontAwesome";
    content: "\f00d";
  }

  &:hover,
  &:focus {
    background-color: transparent;
  }
}

.l-overlay {
  @include transition (opacity 0.5s, visibility 0s 0.5s);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(#293134, 0.99);
  opacity: 0;
  visibility: hidden;
  z-index: 10000;

  nav {
    @include transform(translateY(-50%));
    @include perspective(1200px);
    position: relative;
    top: 48%;
    height: 70%;
    text-align: center;
  }


  ul {
    @include transform(translateY(-25%) rotateX(35deg));
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    @include transition (transform 0.5s, opacity 0.5s);
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0 auto;

    li {
      position: relative;
      display: block;
      float:none;
      min-height: calc(80% / 5);

      &.expanded ul {
        display: none;
      }

      &.expanded.active ul {
        display: block;
      }

      a {
        @include transition (color 0.3s);
        @include sans($weight: 700);
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        font-size: rem-calc(20);
        opacity: 0.6;

        &.active,
        &.active-trail {
          opacity: 1;

          &:after {
            content: '';
            display: block;
            background: $primary-color;
            width: rem-calc(50);
            height: rem-calc(3);
            margin-left: auto;
            margin-right: auto;
          }
        }

        &:hover,
        &:focus {
          color: $primary-color;
          opacity: 1;
        }
      }
    }

    ul {
      margin-bottom: 1rem;

      a {
        text-transform: none;
        font-weight: 300;
      }

      ul {
        margin-bottom: 1rem;

        a {
          text-transform: none;
          font-weight: 300;
          text-transform: uppercase;
          font-size:rem-calc(15);
        }
      }
    }
  }

  &.open {
    @include transition (opacity 0.5s);
    opacity: 1;
    visibility: visible;

    nav ul {
      @include transform(rotateX(0deg));
      opacity: 1;
    }
  }

  &.close nav ul {
    @include transform(translateY(25%) rotateX(-35deg));
  }
}

.expand-sub {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 10px;
  width: 35px;
  height: 37px;
  background-size: 15px;
  z-index: 10;
  color:$primary-color;

  &:before{
    font-family: "FontAwesome";
    content:"\f078";
  }

  &.active {

    &:before{
      content:"\f077";
    }
  }
}
