
//////////////////////////////////////////////////////////////////////////////
//// Theme Settings
//////////////////////////////////////////////////////////////////////////////

#help{
  display:none;
}

body{

  #page{
    background-repeat: no-repeat !important;
    background-position: 20px 0 !important;
  }

  #block-system-main{
    margin-top: 98px;
  }

  &.boushh{
    .main-content{
      background-repeat: no-repeat !important;
      background-position: 20px 0 !important;
      padding-top:206px;
    }
  }
}

#system-theme-settings{

  .merge-up{
    font-size:.9em;
  }

  #edit-fett-status,
  #edit-fett-icons{

    .fieldset-wrapper{
      padding:15px 10px 0 0;

      #edit-status{
        margin:0;
        padding:0;
      }

      .status-title{
        font-weight:bold;
      }

      table.system-status-report tr.ok{
        background-color: #54606E;
        text-shadow: 0 1px 0 #3B444E;
        border-bottom-color: #3B444E;
      }

      table.system-status-report tr.info{
        background-color: #375440;
        text-shadow: 0 1px 0 #25392B;
        border-bottom-color: #25392B;
      }

      table.system-status-report tr.warning{
        background-color: #825F0B;
        text-shadow: 0 1px 0 #533D06;
        border-bottom-color: #533D06;
      }
    }
  }
}
