#status-messages{
  .krumo-root{
    color:#656565;

    .krumo-child{
      font-size:.7em;
    }
  }
}

html.js input.form-autocomplete{
  background-image: image-url('throbber.gif');
  background-position: 100% 11px;

  &.throbbing{
    background-position: 100% -119px; /* LTR */
  }
}

#quickbar-top-bar{
  background:#404040;

  .top-bar-section li a:not(.button){
    background:#404040;
  }

  .top-bar-section li a:hover:not(.button){
    background:#272727;
  }
}
