#status-messages{
  .krumo-root{
    color:#656565;

    .krumo-child{
      font-size:.7em;
    }
  }
}

div.status,
div.warning,
div.error{
  background-image:none;
}

div.alert-box{
  a{
    font-weight:bold;
    text-decoration: underline;
    @if variable-exists(alert-font-color) {
      &{
        color:$alert-font-color;
      }
    }
    &.close{
      @if variable-exists(alert-close-position){
        top: $alert-close-position;
        margin-top: 0;
      }
      text-decoration: none;
    }
  }

  .krumo-root{
    color:#505050;
    .krumo-element{
      @if mixin-exists(rem-calc) {
        font-size:rem-calc(10);
      }
    }
    ul{
      margin:0;
      padding:0;
    }
    a{
      color:#313131;
    }
  }
}

html.js input.form-autocomplete{
  background-image: image-url('throbber.gif');
  background-position: 100% 11px;

  &.throbbing{
    background-position: 100% -119px; /* LTR */
  }
}

#quickbar-top-bar{
  background:#404040;

  .top-bar-section li a:not(.button){
    background:#404040;
  }

  .top-bar-section li a:hover:not(.button){
    background:#272727;
  }
}

.draggable a.tabledrag-handle{
  // width:15px;
  // height:15px;
  margin:0;
  display:block;
}

a.tabledrag-handle{
  .handle{
    width:15px;
    height:15px;
    margin:4px;
    padding:0;
    background-position:0 0;
  }

  &:hover{
    .handle{
      background-position:0 -20px;
    }
  }
}

a.tabledrag-toggle-weight{
  line-height:rem-calc(20);
  text-transform: uppercase;
  @if variable-exists(small-font-size) {
    &{
      font-size: $small-font-size;
    }
  }
  @if variable-exists(small-font-color) {
    &{
      color: $small-font-color;
    }
  }
}
