#status-messages{
  .krumo-root{
    color:#656565;

    .krumo-child{
      font-size:.7em;
    }
  }
}

div.status,
div.warning,
div.error{
  background-image:none;
}

div.alert-box{
  a{
    font-weight:bold;
    text-decoration: underline;
    @if variable-exists(alert-font-color) {
      &{
        color:$alert-font-color;
      }
    }
    &.close{
      @if variable-exists(alert-close-position){
        top: $alert-close-position;
        margin-top: 0;
      }
      text-decoration: none;
    }
  }

  .krumo-root{
    color:#505050;
    .krumo-element{
      @if mixin-exists(rem-calc) {
        font-size:rem-calc(10);
      }
    }
    & > ul{
      margin:0;
      padding:0;
    }
    a{
      color:#313131;
    }
  }
}

html.js input.form-autocomplete{
  background-image: image-url('throbber.gif');
  background-position: 100% 11px;

  &.throbbing{
    background-position: 100% -119px; /* LTR */
  }
}

#quickbar-top-bar{
  background:#404040;

  .top-bar-section li a:not(.button){
    background:#404040;
  }

  .top-bar-section li a:hover:not(.button){
    background:#272727;
  }
}

.draggable a.tabledrag-handle{
  // width:15px;
  // height:15px;
  margin:0;
  display:block;
}

a.tabledrag-handle{
  .handle{
    width:15px;
    height:15px;
    margin:4px;
    padding:0;
    background-position:0 0;
  }

  &:hover{
    .handle{
      background-position:0 -20px;
    }
  }
}

a.tabledrag-toggle-weight{
  line-height:rem-calc(20);
  text-transform: uppercase;
  @if variable-exists(small-font-size) {
    &{
      font-size: $small-font-size;
    }
  }
  @if variable-exists(small-font-color) {
    &{
      color: $small-font-color;
    }
  }
}

.container-inline{
  @include clearfix();
  margin-bottom:rem-calc(20);

  & > *{
    float:left;
  }

  & *{
    margin:0;
    padding:0;
  }
}

.field-inline{
  @include clearfix();

  .fieldset-wrapper{
    @include clearfix();
  }

  .form-item{
    float:left;
    margin:0;
    padding-right:rem-calc(20);
  }
}

fieldset{
  .fieldset-wrapper{
    div:first-child{
      margin-top:0;
    }
    div:last-child{
      margin-bottom:0;
    }
  }
}

.ajax-progress-throbber{
  position:absolute;
  z-index:3000;
  background:rgba(0,0,0,.5);
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  color:transparent;

  .throbber{
    background:none;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:rem-calc(-20);
    margin-top:rem-calc(-20);
  }

  .throbber:before {
    font-family: "FontAwesome";
    font-size:rem-calc(40);
    width: rem-calc(40);
    line-height: rem-calc(40);
    color:#fff;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    /* opacity: .8; */
    font-variant: normal;
    text-transform: none;
    content: '\f110';
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
  }
}



////////////////////////////////////////////////////////////////////////////////
/// Forms
////////////////////////////////////////////////////////////////////////////////


form{
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea{
    margin:rem-calc(0 0 5);
  }

  input[type="file"],
  input[type="checkbox"],
  input[type="radio"]{
    margin:0;
  }

  .file-upload-wrapper{
    input,
    button{
      margin:rem-calc(0 0 5);
    }
  }
}


////////////////////////////////////////////////////////////////////////////////
/// Utilities
////////////////////////////////////////////////////////////////////////////////

.colorpicker{
  z-index:1100;

  input[type="text"],
  input[type="text"]:focus{
    background-color: transparent;
    border: 1px solid transparent;
    position: absolute;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #898989;
    top: 4px;
    right: 11px;
    text-align: right;
    margin: 0;
    padding: 0;
    height: 11px;
    box-shadow:none;
  }
}

button, .button {
  &.text {
    @include button-style($bg:$secondary-color);
    background:none;
  }
}


