$header-font-color: $jet !default;

body.page-user-register,
body.page-user-login,
body.page-user-password{
  overflow:auto;
}

#auth_box{
  background:#fff;
  margin:($column-gutter/2);
  padding:($column-gutter/2);
  max-width:rem-calc(600);
  box-shadow: 0px 1px 5px rgba(#000,.25);
  @include radius($global-radius);

  @media #{$medium-up} {
    margin:rem-calc(30) auto;
    padding:rem-calc(30);
  }

  #top_part{
    padding-bottom: ($column-gutter/2);
  }

  #middle_part{

    h2.title{
      text-transform: uppercase;
      font-size:rem-calc(26);
      font-weight:bold;
      text-align: center;
      color:lighten($header-font-color, 10%);
    }

    .form-actions{

      .button{
        margin-top:($column-gutter/2);
        width:100%;
      }
    }
  }

  #bottom_part{
    padding-top:($column-gutter/2);
    font-size:rem-calc(14);
    text-align: center;

    .login_link a{
      @include fa-before(plus);
    }

    .password_link a{
      @include fa-before(question-circle);
    }

    .register_link a{
      @include fa-before(user-plus);
    }

    .back_link{
      padding-top:($column-gutter/2);
      font-size:rem-calc(12);
      text-transform: uppercase;
    }
  }
}

#the_logo{

  a,
  img{
    display:block;
    margin:0 auto;
  }
}
