div.MultiFile-list{
  // margin: rem-calc(-10 0 15);
}

div.MultiFile-label{
  display:inline-block;
  font-size:rem-calc(12);
  line-height:rem-calc(12);
  padding:rem-calc(10 10 10 10);

  a.MultiFile-remove{
    padding-right:rem-calc(5);
    text-transform: uppercase;
    @include fa-before(times);
    width: rem-calc(10);
    height: rem-calc(12);
    overflow:hidden;
    display:inline-block;
  }

  span.MultiFile-label{
    color: lighten($body-font-color, 20%);
  }
}

input.MultiFile-applied{
  position: absolute !important;
  top: auto !important;
  left: -9999px !important;
}

.MultiFile-wrap{
}

.file-upload-list{
  // background: $input-disabled-bg;
  // box-shadow: $input-box-shadow;
  // border: $input-border-style $input-border-width $input-border-color;

  .inner{
    @include form-element();
    height: auto;
    min-height: ($input-font-size + ($form-spacing * 1.5)) - rem-calc(1);
    padding:0;
    background-color: $input-disabled-bg;
    cursor: $input-disabled-cursor;
  }
}
