.page.login {

  .main {
    margin: $global-margin;

    @media #{$large-up} {
      margin: $global-margin * 3;
    }

    > .wrapper {
      max-width: rem-calc(520);
      margin: 0 auto;
      background: $white;
      padding: $global-padding;
      float: none;
      border-radius: $global-radius;

      @media #{$large-up} {
        padding: $global-padding * 2;
      }

      > .content {
        float: none;
        width: 100%;
        padding: 0;
      }
    }

    .site-logo {
      display: block;
      margin: 0 auto $global-margin;
    }

    .page-title {
      text-align: center;
    }

    .form-actions {
      text-align: center;
    }

    form .button {
      margin: 0;
      width: 100%;
    }
  }
}
