
.status-message {
  padding: $global-padding;
  color: $white;
  background: map-get($foundation-palette, success);
  text-shadow: 0 1px 1px scale-color(map-get($foundation-palette, success), $lightness: -40%);

  a {
    color: $white;
    font-weight: bold;
  }

  // &.status {
  // }

  &.warning {
    background: map-get($foundation-palette, warning);
    text-shadow: 0 1px 1px scale-color(map-get($foundation-palette, warning), $lightness: -40%);
  }

  &.error {
    background: map-get($foundation-palette, alert);
    text-shadow: 0 1px 1px scale-color(map-get($foundation-palette, alert), $lightness: -40%);
  }

  &.small {
    padding: $global-padding / 2;
    font-size: rem-calc(14);
  }
}
